@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
.logo {
  width: 16.25rem;
}

:root {
  --primary-white: #fff;
  --primary-blue: rgb(70, 123, 236);
  --primary-dark-blue: rgb(14, 12, 109);
}
body {
  font-family: "Robot Condensed" sans-serif;
}

.navbar-brand {
  max-width: 17.25rem;

  height: 6rem !important;
}
/* --Menu link ---*/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0357rem;
  cursor: pointer;
}
/* Modify the backgorund color */
.navbar-custom {
  background-color: var(--primary-dark-blue);
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark-blue);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-bottom: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-blue);
}
